@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Work+Sans');

body {
    /*user-select: none;*/
    font-family: 'Quicksand', sans-serif;
    display: none;
}

.section {
    overflow: hidden;
}

.bg {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: all 25s ease-in-out;

}


.centerDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 760px;
    z-index: 10;
}

.uiContainer > div {
    z-index: 50;

}

#timeContainer {
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.7));
}

#time {
    font-size: 110px;

}

#factContainer {
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 1));
}

#fact {
    font-size: 38px;
    margin-top: 20px;
}

#TOD {
    font-size: 30px;
}

.topRight {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.bottomLeft {
    color: white;
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 100;
    align-items: center;
    height: 30px;
}

.bottomLeft > svg {
    width: 30px;
    height: auto;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.8));
    margin: 0 auto;
    display: block;
}

.picInfo {
    height: 100%;
    width: 300px;
}

.picTitle {
    font-size: 90%;
    transition-delay: 0.2s;
    font-size: 14px;
}

.picCredit {
    font-size: 12px;
    opacity: 0;
    overflow: hidden;
    transition-delay: 0s;
    cursor: pointer;
}

.picCredit,
.picTitle {
    position: absolute;
    bottom: 7px;
    left: 40px;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.7));
}


.picInfo:hover .picTitle {
    transform: translateY(-9px);
}

.picInfo:hover .picCredit {
    transform: translateY(5px);
    transition-delay: 0.2s;
    opacity: 1;
}

#settings {
    pointer-events: bounding-box;
    opacity: .9;
    cursor: pointer;
}

#settings:hover {
    opacity: 1;
}


/*Scroll indicator*/
.scroll-container {
    width: 100%;
    position: absolute;
    bottom: 10;
}

.scroll-indicator {
    width: 12px;
    margin: 0 auto;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
}

.scroll-indicator::before,
.scroll-indicator::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator::before {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #fff;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator::after {
    width: 7px;
    height: 7px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
}

.scroll-indicator > div {
    display: block;
}

.scroll-indicator > div::before,
.scroll-indicator > div::after {
    content: '';
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #fff;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator > div::before {
    width: 8px;
    height: 8px;
    animation-delay: 0.25s;
}

.scroll-indicator > div::after {
    width: 6px;
    height: 6px;
    animation-delay: 0.5s;
}

@keyframes dot {
    0% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.75);
        opacity: 0.25;
    }
}

@keyframes arrow {
    0% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }

    25% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }
}


/*Weather Info*/

.topRow {
    flex: 1;
    margin-left: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 350px;
}

.bottomRow {
    display: inline-flex;
    height: 30px;
    align-items: center;
    float: right;
    flex: 2;
    margin-left: auto;
}

#weatherCanvas {
    width: 24px;
    display: inline-block;
    margin-right: 8px;
}



/*Section 2*/

.sec_2 {
    background-color: #15161e;

}

.sec2Title {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#summaryContainer > .fact {
    font-size: 20px;
    color: rgb(197, 197, 197);
}

#summaryList > li {
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
}


/* Button Styles */

.link-container > a {
    color: #AAAAAA;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

.link-container {
    width: 240px;
    margin: auto;
    margin-top: 60px;
}

.link-container > a {
    float: left;
    font: 300 1.4rem/56px sans-serif;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 240px;
    cursor: pointer;
    transition: all ease .25s;
}

.link-container > a:hover {
    background: rgba(0, 0, 0, 0);
    color: #000000;
}

.link-animation {
    background: #FFFFFF;
    width: 0px;
    height: 60px;
    transition: all ease .25s;
}

.link-container:hover .link-animation {
    background: #FFFFFF;
    border: 0;
    width: 240px;
}

canvas {
    display: block;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
